[package]
name = "mdbook-katex"
version = "0.2.10"
authors = ["Lucas Zanini <zanini.lcs@gmail.com>"]
edition = "2018"
description = "mdBook preprocessor rendering LaTex equations to HTML."
license = "MIT"
readme = "README.md"

[dependencies]
katex = "0.4.2"
clap = "2.33.3"
mdbook = "0.4.21"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
toml = "0.5.8"
log = "0.4"
reqwest = { version = "0.11.3", features = ["blocking"] }
regex = "1.5.4"
lazy_static = "1.0"
futures = "0.3.15"
