[package]
name = "mdbook-katex2"
version = "0.2.11"
authors = [
    "Lucas Zanini <zanini.lcs@gmail.com>",
    "Steven Hé (Sīchàng) <stevensichanghe@gmail.com>",
]
edition = "2021"
description = "mdBook preprocessor rendering LaTex equations to HTML."
license = "MIT"
readme = "README.md"

[dependencies]
katex = "0.4.4"
clap = "3.2.23"
mdbook = "0.4.21"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
toml = "0.5.9"
log = "0.4"
reqwest = { version = "0.11", features = ["blocking"] }
regex = "1.7"
lazy_static = "1.4"
futures = "0.3"
